<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ssm.mapper.AnnounceMapper">
    <!--    &lt;!&ndash; id : 需要和接口的方法名一致 ，如果是注解传递参数，无需写参数类型&ndash;&gt;-->
    <!--    <select id="queryRoleList" resultType="Role">-->
    <!--    select *  from role-->
    <!--    <where>-->
    <!--        <if test="role.rid != null and role.rid!='' ">-->
    <!--            and rid = #{role.rid}-->
    <!--        </if>-->
    <!--        <if test="role.roleName != null and role.roleName != ''">-->
    <!--            and roleName like  concat('%' , #{role.roleName} , '%')-->
    <!--        </if>-->
    <!--    </where>-->
    <!--    limit  #{start} , #{pageSize}-->
    <!--    </select>-->
    <!--    <select id="queryRoleCount" resultType="int" parameterType="Role">-->
    <!--    select count(*)  from role-->
    <!--    <where>-->
    <!--        <if test="rid != null and rid!='' ">-->
    <!--            and rid = #{rid}-->
    <!--        </if>-->
    <!--        <if test="roleName != null and roleName != ''">-->
    <!--            and roleName like  concat('%' , #{roleName} , '%')-->
    <!--        </if>-->
    <!--    </where>-->
    <!--    </select>-->

    <select id="queryAnnounceList" resultType="com.example.ssm.entity.Announce">
        select
            id,title,content,starttime,endtime,subtime,userid,state
        from announce
<!--        <where>-->
<!--            task.isdelete = 1-->
<!--            <if test="task.state != null and task.state != 2">-->
<!--                and task.state = #{task.state}-->
<!--            </if>-->
<!--            <if test="task.taskType != null and task.taskType.name!= null and task.taskType.name != '' ">-->
<!--                and task_type.name = #{task.taskType.name}-->
<!--            </if>-->
<!--            <if test="task.lauchtime != null">-->
<!--            and task.lauchtime &gt;= #{task.lauchtime}-->
<!--            </if>-->
<!--            <if test="task.subtime != null">-->
<!--            and task.lauchtime &lt;= #{task.subtime}-->
<!--            </if>-->
<!--        </where>-->
        limit #{start},#{pageSize}
    </select>
    <select id="queryAnnounceCount" resultType="java.lang.Integer" parameterType="Announce">
        select
        count(*)
        from announce
<!--        <where>-->
<!--            task.isdelete = 1-->
<!--            <if test="state != null and state != 2">-->
<!--                and task.state = #{state}-->
<!--            </if>-->
<!--            <if test="taskType != null and taskType.name!= null and taskType.name != '' ">-->
<!--                and task_type.name = #{taskType.name}-->
<!--            </if>-->
<!--            <if test="lauchtime != null">-->
<!--                and task.lauchtime &gt;= #{lauchtime}-->
<!--            </if>-->
<!--            <if test="subtime != null">-->
<!--                and task.lauchtime &lt;= #{subtime}-->
<!--            </if>-->
<!--        </where>-->
    </select>
</mapper>
